#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	sed -i -re 's/libandroid-json-org-java \(>= \w+\)/libandroid-json-org-java (>= 20121204-20090211-3)/g' \
	  debian/*.substvars
